################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**.sln
**.vcxproj
**.vcxproj.filters
/.vs
/Conway's Game of Life/x64
/Conway's Game of Life
/Spike Engine/Release
/Spike Engine/Debug
/Spike Engine/x64
/Spike Engine/Spike Engine.vcxproj.user
/Tetris/x64
/Tetris
/x64
